Repository devpi/devpi, pull requests merged in 2019-05, with the labels that each got.

#659 Remove deprecated index options.
  server/devpi_server/__init__.py
  server/devpi_server/importexport.py
  server/devpi_server/model.py
  server/news/mirror_options.removal
  server/news/pypi_whilelist.removal
  server/setup.py
  server/test_devpi_server/functional.py
  server/test_devpi_server/test_importexport.py
  server/test_devpi_server/test_model.py
  server/test_devpi_server/test_views_patch.py
Labels: FOR MAJOR RELEASE, devpi-server

#603 Change selection of Python interpreter for devpi upload.
  client/devpi/__init__.py
  client/devpi/main.py
  client/devpi/upload.py
  client/news/395.other
  client/setup.py
Labels: FOR MAJOR RELEASE, devpi-client

#572 Remove scraping/crawling
  server/devpi_server/extpypi.py
  server/devpi_server/filestore.py
  server/devpi_server/model.py
  server/devpi_server/views.py
  server/news/518.removal
  server/test_devpi_server/test_extpypi.py
  server/test_devpi_server/test_filestore.py
  server/test_devpi_server/test_model.py
  server/test_devpi_server/test_replica.py
  server/test_devpi_server/test_views.py
  web/devpi_web/views.py
Labels: FOR MAJOR RELEASE, devpi-server

#660 require --storage option
  server/devpi_server/config.py
  server/devpi_server/main.py
  server/test_devpi_server/test_config.py
  server/test_devpi_server/test_main.py
  server/tox.ini
Labels: FOR MAJOR RELEASE, devpi-server

#672 #625 - optional project registration
  server/devpi_server/views.py
  server/news/625.feature
  server/test_devpi_server/test_views.py
  web/tests/test_views.py
Labels: devpi-server, enhancement

#671 #636 - list releases without bases
  client/devpi/list_remove.py
  client/devpi/main.py
  client/news/636.feature
  client/setup.py
  common/devpi_common/__init__.py
  common/devpi_common/url.py
  common/news/query.feature
  common/setup.py
  common/testing/test_url.py
  server/devpi_server/view_auth.py
  server/devpi_server/views.py
  server/news/636.feature
  server/test_devpi_server/test_views.py
Labels: devpi-client, devpi-server, enhancement

#673 Support skipping projects for index json requests
  client/devpi/index.py
  client/devpi/main.py
  client/news/no_projects.feature
  server/devpi_server/views.py
  server/news/no_projects.feature
  server/test_devpi_server/test_views.py
Labels: devpi-client, devpi-server, enhancement

#664 Add support for index customizers
  server/devpi_server/config.py
  server/devpi_server/extpypi.py
  server/devpi_server/hookspecs.py
  server/devpi_server/importexport.py
  server/devpi_server/keyfs.py
  server/devpi_server/main.py
  server/devpi_server/model.py
  server/devpi_server/view_auth.py
  server/devpi_server/views.py
  server/news/249.feature
  server/news/authenticated.feature
  server/news/boolean.other
  server/news/customizer.feature
  server/pytest_devpi_server/__init__.py
  server/setup.py
  server/test_devpi_server/conftest.py
  server/test_devpi_server/importexportdata/removedindexplugin/dataindex.json
  server/test_devpi_server/importexportdata/removedindexplugin/user/dev/pkg/pkg-1.0.tar.gz
  server/test_devpi_server/test_extpypi.py
  server/test_devpi_server/test_importexport.py
  server/test_devpi_server/test_model.py
  server/test_devpi_server/test_permissions.py
  server/test_devpi_server/test_stage_customizer.py
Labels: FOR MAJOR RELEASE, devpi-server
